.mdihistory
CNC12ColorPicker.exe
CNC12PLCDiagnosticScreen.exe
CNCWizard.exe
CncSkinning.dll
CncSkinning.xml
CncSkinningDocumentation/
CncSkinningUserControls.dll
ColorPicker.dll
ColorPicker.txt
KeyboardJogPanel.exe
MpgClient.exe
O9101.cnc
O9102.cnc
O9201.cnc
O9202.cnc
O9203.cnc
O9204.cnc
O9301.cnc
PID_collection_moves.txt
PLCDiagnosticsOptions.xml
ProbeCyclesHistory.exe
SearchHistory.txt
Svg2Xaml.dll
Svg2Xaml.xml
VirtualControlPanel.exe
_ALLIN1DC.default.plc/
___improper_shutdown___.txt
_extusbpnl-log.txt
_move-to-next-plane.txt
_screen-size.txt
_unlock-log.txt
ac1.hex
ad2_presets.xml
autotune.out
backups/
bmps/
centroid.ico
cnc.tem
cnc_wiz.ico
cnccams.txt
cnccfgutilw.exe
cncfdr.bin
cncm.exe
cncm.hom
cncm.job.xml
cncm.ol
cncm.prm.xml
cncm.tl
cncm.unl.xml
cncm.wcs
cncmcfg.xml
compile.cmd
crazy_cnc_squirrel.svg
cyclone_status.txt
debug_dump0.txt
dsp_probe_setting.xml
eth1616log.txt
homelog.txt
hsc_status.txt
job.xml
language.msg
last-absolute-position.txt
license.dat
licenses/
locations.load.recent.history
log_levels.xml
manual/
mill.ico
mpu.dbg
mpu.sym
mpu11.hex
mpu12.hex
mpu13.hex
mpu_info.txt
mpu_info.xml
mpucomp.exe
msg_cnt.txt
msg_log.txt
mt.stats
ncfiles/
opengl-debug.txt
pathm.ini
plc.map.modified
plc.out
plcdetective.exe
plcinstall_backup_2024_03_20_20_08_12.zip
plcstate.txt
plot.exe
profile.ico
reportbackup/
reports/
resources/
scope-gather-01.png
scope-gather-01.txt
scope-gather-02.png
scope-gather-02.txt
scope-gather-03.png
scope-gather-03.txt
scope-gather-04.png
scope-gather-04.txt
scope-gather-05.png
scope-gather-05.txt
scope-gather-06.png
scope-gather-06.txt
scope-gather-07.png
scope-gather-07.txt
scope-gather-08.png
scope-gather-08.txt
scope-gather-09.png
scope-gather-09.txt
scope-gather-10.png
scope-gather-10.txt
scope-gather-11.png
scope-gather-11.txt
scope-gather-12.png
scope-gather-12.txt
scope-gather-13.png
scope-gather-13.txt
scope-gather-14.png
scope-gather-14.txt
scope-gather-15.png
scope-gather-15.txt
scope-gather-16.png
scope-gather-16.txt
scope-gather-17.png
scope-gather-17.txt
scope-gather-18.png
scope-gather-18.txt
scope-gather-19.png
scope-gather-19.txt
scope-gather-20.png
scope-gather-20.txt
scope-gather-21.png
scope-gather-21.txt
scope-gather-22.png
scope-gather-22.txt
scope-gather-23.png
scope-gather-23.txt
scope-gather-24.png
scope-gather-24.txt
scope-gather-25.png
scope-gather-25.txt
scope-gather-26.png
scope-gather-26.txt
scope-gather-27.png
scope-gather-27.txt
scope-gather-28.png
scope-gather-28.txt
scope-gather-29.png
scope-gather-29.txt
scope-gather-30.png
scope-gather-30.txt
scope-gather-31.png
scope-gather-31.txt
scope-gather-32.png
scope-gather-32.txt
scope-gather-33.png
scope-gather-33.txt
scope-gather-34.png
scope-gather-34.txt
scope-gather.html
start.bat
system/
systest.cnc
systest.out
tasklist.txt
testingresults.txt
tool_life_library.xml
transformed_wcs.xml
uninstall.exe
xplc.sym
